@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-size: 16px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: -1px;
}

/* common */
.inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.lighter {
  font-weight: 300;
}
.hidden_left {
  margin-left: -10%;
  opacity: 0;
}
.hidden_bottom {
  margin-top: 5%;
  opacity: 0;
}

/* main_image */
.main_image {
  width: 100%;
  height: 100vh;
  background: url('../images/bo-main.jpg') center center/120% 140% no-repeat;
  position: relative;
  color: #fff;
  transition: 1s;
}
.main_image.active {
  background: url('../images/bo-main.jpg') center center/100% 120% no-repeat;
}
.main_image .background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.main_image .inner {
  position: relative;
}
.main_image .btn_back {
  font-size: 18px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
}
.main_image .object {
  position: absolute;
  top: 50px;
  right: 50px;
  opacity: 0;
  transition: 1s;
}
.main_image .main_title {
  width: 100%;
  height: 70%;
  padding-top: 45vh;
}
.main_image .main_title h1 {
  font-size: 70px;
  font-weight: 500;
  transition: all 1s 0.3s;
}
.main_image .main_title p {
  font-size: 32px;
  font-weight: 400;
  position: relative;
  margin-left: 100px;
  padding-left: 20px;
  transition: all 1s 0.5s;
}
.main_image .main_title p::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: calc(50% - 1px);
  left: -100px;
}
.main_image .main_content {
  width: 100%;
  height: 30%;
}
.main_image .main_content ul {
  margin-bottom: 3%;
  transition: all 1s 0.7s;
}
.main_image .main_content .view_site {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  transition: all 1s 0.9s;
}
.main_image .main_content .view_site span {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -50px;
  transition: 0.5s;
}
.main_image .main_content .view_site:hover span {
  width: 40px;
  right: -70px;
}
.main_image .main_content .view_site span::before {
  content: '';
  display: block;
  width: 10px;
  height: 1.5px;
  background: #fff;
  position: absolute;
  top: -3px;
  right: -1px;
  transform: rotate(45deg);
}
.main_image .main_content .view_site span::after {
  content: '';
  display: block;
  width: 10px;
  height: 1.5px;
  background: #fff;
  position: absolute;
  top: 4px;
  right: -1px;
  transform: rotate(-45deg);
}


/* explain */
.explain {
  width: 100%;
}
.explain h1 {
  font-size: 48px;
  padding-top: 7%;
  font-weight: 500;
}
.explain h2 {
  font-size: 28px;
  font-weight: 500;
}
.explain .explain_content {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}
.explain .explain_content p {
  padding: 0.5% 7% 0 7%;
  font-size: 18px;
  line-height: 1.8;
}
.explain img {
  width: 100%;
  margin-bottom: 5%;
}
.explain .image_ipad {
  margin-bottom: 0;
}